.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.form-container > img{
    width: 200px;
}
.google-login-btn{
    display: flex;
    justify-content: center;
    background-color: #F7685C;
    color: white;
    padding: 10px;
    width: 35%;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 35px;
    
    .btn-text{
        padding-left: 15px;
    }
}